<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{recipe.list}">レシピ一覧</title>

  <style>
    table {
      border: 1px solid gray;
    }

    table th, table td {
      border: 1px solid gray;
    }
  </style>
</head>

<body>

<div layout:fragment="content">

	<h2 th:text="#{recipe.search}">レシピ検索</h2>

  <form action="/recipes/search" accept-charset="UTF-8" method="get" th:object="${recipeSearchForm}">
    <span th:text="#{search}">検索</span>:<input type="search" name="search" th:value="*{search}" placeholder="検索ワード"><br/>
    <button type="submit" value="search" th:text="#{search}">検索</button>
  </form>
  <form action="/recipes/searchCal" accept-charset="UTF-8" method="get" th:object="${recipeSearchForm}">
    <span th:text="#{search}">検索</span>:<input type="search" name="searchCal" th:value="*{searchCal}" placeholder="数値（kcal）"><br/>
    <button type="submit" value="searchCal" th:text="#{search}">検索</button>
  </form>
  
  <h2 th:text="#{recipe.list}">レシピ一覧</h2>

  <table>
    <thead>
    <tr>
      <th th:text="#{recipeId}">レシピID</th>
      <th th:text="#{recipeName}">レシピ名</th>
      <th th:text="#{recipeCal}">レシピカロリー</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}" th:object="${recipe}">
      <td th:text="*{recipeId}"></td>
      <td th:text="*{recipeName}"></td>
      <td th:text="*{recipeCal}"></td>
      <td>
        <a th:href="@{'/recipes/update/' + *{recipeId}}" th:text="#{update}">更新</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
