<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{menu.create}">メニュー登録</title>
</head>

<body>

<div layout:fragment="content">
  <h2 th:text="#{menu.create}">メニュー登録</h2>

  <form action="/menus/create" method="post" th:object="${menuForm}">

    <ul>
      <li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}">
    </ul>

    <span th:text="#{menuName}">メニュー名</span>:<input type="text" name="menuName" th:value="*{menuName}"><br/>
     <label class="control-label" for="exampleSelect">メニューの分類</label>
     <select class="form-control" id="exampleSelect" name="menuType">
       <option value="">---</option>
       <option th:each="item : ${selectItems}" th:value="${item.value}" th:text="${item.key}" th:selected="${item.value} == *{menuType}"></option>
     </select><br/>
     <span th:if="${#fields.hasErrors('menuType')}" th:errors="*{menuType}" class="help-block">error!</span>
    <span th:text="#{menuPrice}">メニューの価格</span>:<input type="text" name="menuPrice" th:value="*{menuPrice}"><br/>
    <span th:text="#{recipe.list}">レシピの選択</span>
    <div th:each="recipe : ${recipeList}" th:object="${recipe}">
      <input type="checkbox" name="recipeList" th:value="*{recipeId}">
      <a th:text="*{recipeName}"></a>
    </div>
    <button type="submit" th:text="#{register}">登録</button>
  </form>
</div>

</body>
</html>
